---
http_interactions:
- request:
    method: post
    uri: https://graph.facebook.com/oauth/access_token
    body:
      encoding: US-ASCII
      string: client_id=190163724500680&client_secret=a68155b041911fd97471c4a178d20376&grant_type=client_credentials
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain; charset=UTF-8
    body:
      encoding: UTF-8
      string: access_token=190163724500680|LaUu0hIY6ZnPfyTpWaaOArBWxec
  recorded_at: Wed, 12 Mar 2014 18:38:25 GMT
- request:
    method: post
    uri: https://graph.facebook.com/190163724500680/accounts/test-users
    body:
      encoding: UTF-8
      string: installed=true&permissions&access_token=190163724500680%7CLaUu0hIY6ZnPfyTpWaaOArBWxec
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"id":"100007980962878","access_token":"CAACs8ZCEZCfsgBAKLP5nng4yft07uSuI8NPSz2pSNP83tv1RuDtrx8jsfmCxaNufB6eFQfyJBpsrnzKH7Tswje3ZCEaM51t2hNAFt6vtJ98SohGZCiwmLDbZAbIUIapU6ZAwZBRPl8CiLY0E7zMXWrGVUgMZCH2TXf1jClenNEq25GVwTICVNXMas7XxrbL8RJaaWTK5FRZBomQZDZD","login_url":"http:\/\/developers.facebook.com\/checkpoint\/test-user-login\/100007980962878\/","email":"wzkvruu_martinazzisky_1394649506\u0040tfbnw.net","password":"1811922766"}'
  recorded_at: Wed, 12 Mar 2014 18:38:26 GMT
- request:
    method: get
    uri: https://graph.facebook.com/me?access_token=CAACs8ZCEZCfsgBAKLP5nng4yft07uSuI8NPSz2pSNP83tv1RuDtrx8jsfmCxaNufB6eFQfyJBpsrnzKH7Tswje3ZCEaM51t2hNAFt6vtJ98SohGZCiwmLDbZAbIUIapU6ZAwZBRPl8CiLY0E7zMXWrGVUgMZCH2TXf1jClenNEq25GVwTICVNXMas7XxrbL8RJaaWTK5FRZBomQZDZD
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"d29af2fcbfd96297b300b2fe61037524d87e4712"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"id":"100007980962878","name":"Bob Amgihjifbhgh Martinazzisky","first_name":"Bob","middle_name":"Amgihjifbhgh","last_name":"Martinazzisky","link":"https:\/\/www.facebook.com\/profile.php?id=100007980962878","gender":"male","timezone":0,"locale":"en_US"}'
  recorded_at: Wed, 12 Mar 2014 18:38:27 GMT
- request:
    method: post
    uri: https://graph.facebook.com/100007980962878
    body:
      encoding: UTF-8
      string: access_token=190163724500680%7CLaUu0hIY6ZnPfyTpWaaOArBWxec&method=delete
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: 'true'
  recorded_at: Wed, 12 Mar 2014 18:38:28 GMT
recorded_with: VCR 2.8.0
