//-----------------------------
// Core Colors
//-----------------------------
$lightPink: #f9abd9;
$pink: #ec008c;
$tiffany: #60dfe5;
$gold: #ffd700;
$red: red;

$black: #000000;
$dark: rgba($black, 0.75);
$mid: rgba($black, 0.50);
$light: rgba($black, 0.25);
$white: #ffffff;

//-----------------------------
// Bootstap Custom Variables
//-----------------------------
$grid-float-breakpoint: 99999px; // Always show the collapsed nav
