---
http_interactions:
- request:
    method: post
    uri: https://graph.facebook.com/oauth/access_token
    body:
      encoding: US-ASCII
      string: client_id=190163724500680&client_secret=a68155b041911fd97471c4a178d20376&type=client_cred
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain; charset=UTF-8
    body:
      encoding: US-ASCII
      string: access_token=190163724500680|LaUu0hIY6ZnPfyTpWaaOArBWxec
  recorded_at: Wed, 30 Oct 2013 12:21:49 GMT
- request:
    method: post
    uri: https://graph.facebook.com/190163724500680/accounts/test-users
    body:
      encoding: US-ASCII
      string: ! "-------------RubyMultipartPost\r\nContent-Disposition: form-data;
        name=\"installed\"\r\n\r\ntrue\r\n-------------RubyMultipartPost\r\nContent-Disposition:
        form-data; name=\"permissions%5Bverified%5D\"\r\n\r\ntrue\r\n-------------RubyMultipartPost\r\nContent-Disposition:
        form-data; name=\"access_token\"\r\n\r\n190163724500680|LaUu0hIY6ZnPfyTpWaaOArBWxec\r\n-------------RubyMultipartPost--\r\n\r\n"
    headers:
      Content-Type:
      - multipart/form-data; boundary=-----------RubyMultipartPost
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! '{"id":"100006973776205","access_token":"CAACs8ZCEZCfsgBAEADmsmwpwYtwzGxjQwLP3QC9ZC6zuvLls5e1gmwjK1bB4oZCQEGl2nbjgpT5CrOOnxjpv4eW1tKHKQmRy9i8rZBrEQ2yf7rh99Ejxzplym7iDxlcli0zfqneayaYxzAG0rykcq8yBk4MXN7MAOMIAFog95ePyDiS225xoaDcQuVyaWZCzmO76YqcBuGSAZDZD","login_url":"https:\/\/www.facebook.com\/platform\/test_account_login.php?user_id=100006973776205&n=lY308MTJpfqDkMW","email":"wynokcq_yangstein_1383135707\u0040tfbnw.net","password":"1323145089"}'
  recorded_at: Wed, 30 Oct 2013 12:21:59 GMT
- request:
    method: get
    uri: https://graph.facebook.com/me?access_token=CAACs8ZCEZCfsgBAEADmsmwpwYtwzGxjQwLP3QC9ZC6zuvLls5e1gmwjK1bB4oZCQEGl2nbjgpT5CrOOnxjpv4eW1tKHKQmRy9i8rZBrEQ2yf7rh99Ejxzplym7iDxlcli0zfqneayaYxzAG0rykcq8yBk4MXN7MAOMIAFog95ePyDiS225xoaDcQuVyaWZCzmO76YqcBuGSAZDZD
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Etag:
      - ! '"a8cd7c5c336111dd16a99785082b6051a669902c"'
    body:
      encoding: US-ASCII
      string: ! '{"id":"100006973776205","name":"Dave Amfigcggfbje Yangstein","first_name":"Dave","middle_name":"Amfigcggfbje","last_name":"Yangstein","link":"https:\/\/www.facebook.com\/profile.php?id=100006973776205","gender":"male","timezone":0,"locale":"en_US"}'
  recorded_at: Wed, 30 Oct 2013 12:22:00 GMT
recorded_with: VCR 2.6.0
