---
http_interactions:
- request:
    method: post
    uri: https://graph.facebook.com/oauth/access_token
    body:
      encoding: US-ASCII
      string: client_id=190163724500680&client_secret=a68155b041911fd97471c4a178d20376&type=client_cred
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain; charset=UTF-8
    body:
      encoding: US-ASCII
      string: access_token=190163724500680|LaUu0hIY6ZnPfyTpWaaOArBWxec
  recorded_at: Sat, 26 Oct 2013 15:13:32 GMT
- request:
    method: post
    uri: https://graph.facebook.com/190163724500680/accounts/test-users
    body:
      encoding: US-ASCII
      string: installed=true&permissions&access_token=190163724500680%7CLaUu0hIY6ZnPfyTpWaaOArBWxec
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! '{"id":"100006953378029","access_token":"CAACs8ZCEZCfsgBAClrF9wJFF55TYLuuJ1ZCBkgZAALoeTKmIupiEyS809cCI5db85W0ajyc3Oj9ESU5qnXuvrNNhzZBG0oDRpZAHcs34qrY6koagkzCASbODrpBXntVOyc4sK7BD5R7ZAdZBGN5288ZAZCsjV9Djknh4Kzj6c76orKLfZC1Ed6nKoMU6Or1uglE7uIZD","login_url":"https:\/\/www.facebook.com\/platform\/test_account_login.php?user_id=100006953378029&n=Cf0DOPzUoimRrFc","email":"mzzifjj_moiduwitz_1382800412\u0040tfbnw.net","password":"330454244"}'
  recorded_at: Sat, 26 Oct 2013 15:13:42 GMT
- request:
    method: get
    uri: https://graph.facebook.com/me?access_token=garbage_token
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Www-Authenticate:
      - OAuth "Facebook Platform" "invalid_token" "Invalid OAuth access token."
    body:
      encoding: US-ASCII
      string: ! '{"error":{"message":"Invalid OAuth access token.","type":"OAuthException","code":190}}'
  recorded_at: Sat, 26 Oct 2013 15:13:43 GMT
- request:
    method: post
    uri: https://graph.facebook.com/100006953378029
    body:
      encoding: US-ASCII
      string: access_token=190163724500680%7CLaUu0hIY6ZnPfyTpWaaOArBWxec&method=delete
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: US-ASCII
      string: 'true'
  recorded_at: Sat, 26 Oct 2013 15:13:48 GMT
recorded_with: VCR 2.6.0
