---
http_interactions:
- request:
    method: post
    uri: https://graph.facebook.com/oauth/access_token
    body:
      encoding: US-ASCII
      string: client_id=190163724500680&client_secret=a68155b041911fd97471c4a178d20376&type=client_cred
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain; charset=UTF-8
    body:
      encoding: US-ASCII
      string: access_token=190163724500680|LaUu0hIY6ZnPfyTpWaaOArBWxec
  recorded_at: Thu, 24 Oct 2013 15:14:53 GMT
- request:
    method: post
    uri: https://graph.facebook.com/190163724500680/accounts/test-users
    body:
      encoding: US-ASCII
      string: installed=true&permissions&access_token=190163724500680%7CLaUu0hIY6ZnPfyTpWaaOArBWxec
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! '{"id":"100006898087594","access_token":"CAACs8ZCEZCfsgBAEOs51Hs0mbKZBl7qzva0wPf1DlReZBZC4G3u34Mqi7kZA26rwAHS2qEmnIYkVYVWzUTulldj2HZBwJI4wp6UDW2EIMfCi97zzYGUfrsuOh1bDpdZAFD84ZAZCIYprBomkqOq34IZB9yB8COmJ37gVNGAuP6Y6VWqJdIi5C3nlr5ZAUKMwzDZC9bJg75My3Eq1IdgZDZD","login_url":"https:\/\/www.facebook.com\/platform\/test_account_login.php?user_id=100006898087594&n=OOeLvbVZQKdaKQ7","email":"efmutds_fallerson_1382627693\u0040tfbnw.net","password":"351455773"}'
  recorded_at: Thu, 24 Oct 2013 15:14:56 GMT
- request:
    method: get
    uri: https://graph.facebook.com/me?access_token=garbage_token
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Www-Authenticate:
      - OAuth "Facebook Platform" "invalid_token" "Invalid OAuth access token."
    body:
      encoding: US-ASCII
      string: ! '{"error":{"message":"Invalid OAuth access token.","type":"OAuthException","code":190}}'
  recorded_at: Thu, 24 Oct 2013 15:14:56 GMT
- request:
    method: post
    uri: https://graph.facebook.com/100006898087594
    body:
      encoding: US-ASCII
      string: access_token=190163724500680%7CLaUu0hIY6ZnPfyTpWaaOArBWxec&method=delete
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: US-ASCII
      string: 'true'
  recorded_at: Thu, 24 Oct 2013 15:14:58 GMT
recorded_with: VCR 2.6.0
