---
http_interactions:
- request:
    method: post
    uri: https://graph.facebook.com/oauth/access_token
    body:
      encoding: US-ASCII
      string: client_id=190163724500680&client_secret=a68155b041911fd97471c4a178d20376&type=client_cred
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain; charset=UTF-8
    body:
      encoding: US-ASCII
      string: access_token=190163724500680|LaUu0hIY6ZnPfyTpWaaOArBWxec
  recorded_at: Wed, 13 Nov 2013 03:49:05 GMT
- request:
    method: post
    uri: https://graph.facebook.com/190163724500680/accounts/test-users
    body:
      encoding: US-ASCII
      string: installed=true&permissions&access_token=190163724500680%7CLaUu0hIY6ZnPfyTpWaaOArBWxec
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! '{"id":"100007053518740","access_token":"CAACs8ZCEZCfsgBACeD2g0MnmCVZAycn88qJBWveXHNtzBTOezObneOYJn0LXvZC5fA4x9acuIKOeAm2CxjBE6y5xNX1dnmbeYx8XJRDhRyVm9ZBflIsrZBizLPxVZBepCYZB3SjZC4QasWwU5zpIF4dMZAqvTEMR0hrjSW3RBA0ZA6t0ywLiqk3NX60ajriAwZCUpnEZD","login_url":"https:\/\/www.facebook.com\/platform\/test_account_login.php?user_id=100007053518740&n=XPb17gXmclg7GHl","email":"icvxpcl_lisky_1384314545\u0040tfbnw.net","password":"778993195"}'
  recorded_at: Wed, 13 Nov 2013 03:49:15 GMT
- request:
    method: get
    uri: https://graph.facebook.com/me?access_token=garbage_token
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Www-Authenticate:
      - OAuth "Facebook Platform" "invalid_token" "Invalid OAuth access token."
    body:
      encoding: US-ASCII
      string: ! '{"error":{"message":"Invalid OAuth access token.","type":"OAuthException","code":190}}'
  recorded_at: Wed, 13 Nov 2013 03:49:16 GMT
- request:
    method: post
    uri: https://graph.facebook.com/100007053518740
    body:
      encoding: US-ASCII
      string: access_token=190163724500680%7CLaUu0hIY6ZnPfyTpWaaOArBWxec&method=delete
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: US-ASCII
      string: 'true'
  recorded_at: Wed, 13 Nov 2013 03:49:20 GMT
recorded_with: VCR 2.6.0
