---
http_interactions:
- request:
    method: post
    uri: https://graph.facebook.com/oauth/access_token
    body:
      encoding: US-ASCII
      string: client_id=190163724500680&client_secret=a68155b041911fd97471c4a178d20376&type=client_cred
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain; charset=UTF-8
    body:
      encoding: US-ASCII
      string: access_token=190163724500680|LaUu0hIY6ZnPfyTpWaaOArBWxec
  recorded_at: Wed, 30 Oct 2013 12:34:41 GMT
- request:
    method: post
    uri: https://graph.facebook.com/190163724500680/accounts/test-users
    body:
      encoding: US-ASCII
      string: installed=true&permissions&access_token=190163724500680%7CLaUu0hIY6ZnPfyTpWaaOArBWxec
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! '{"id":"100006992915440","access_token":"CAACs8ZCEZCfsgBAI2h7PTwhhTPaBD01xLLQrjEjAazSpC2LUIZAhuGZAPnRuLEEeA5jZA15n5twnaevgKtONB92pPSyJCMHgmOfg4ZAfU6nybC0c2mXCfB9KcsDwZC8ZAzwsueK4QeSdtsKG6LZBCH4XL5Btp8piptQaPdS1HLSTKNdZAF27XuK4g5LWSqRHSYK68ZD","login_url":"https:\/\/www.facebook.com\/platform\/test_account_login.php?user_id=100006992915440&n=wzu1d2mFmK8cqDS","email":"hxhumyu_warmanstein_1383136479\u0040tfbnw.net","password":"1264919524"}'
  recorded_at: Wed, 30 Oct 2013 12:34:52 GMT
- request:
    method: get
    uri: https://graph.facebook.com/me?access_token=garbage_token
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Www-Authenticate:
      - OAuth "Facebook Platform" "invalid_token" "Invalid OAuth access token."
    body:
      encoding: US-ASCII
      string: ! '{"error":{"message":"Invalid OAuth access token.","type":"OAuthException","code":190}}'
  recorded_at: Wed, 30 Oct 2013 12:34:52 GMT
- request:
    method: post
    uri: https://graph.facebook.com/100006992915440
    body:
      encoding: US-ASCII
      string: access_token=190163724500680%7CLaUu0hIY6ZnPfyTpWaaOArBWxec&method=delete
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: US-ASCII
      string: 'true'
  recorded_at: Wed, 30 Oct 2013 12:34:57 GMT
recorded_with: VCR 2.6.0
