---
http_interactions:
- request:
    method: post
    uri: https://graph.facebook.com/oauth/access_token
    body:
      encoding: US-ASCII
      string: client_id=190163724500680&client_secret=a68155b041911fd97471c4a178d20376&type=client_cred
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain; charset=UTF-8
    body:
      encoding: US-ASCII
      string: access_token=190163724500680|LaUu0hIY6ZnPfyTpWaaOArBWxec
  recorded_at: Wed, 13 Nov 2013 04:05:40 GMT
- request:
    method: post
    uri: https://graph.facebook.com/190163724500680/accounts/test-users
    body:
      encoding: US-ASCII
      string: installed=true&permissions&access_token=190163724500680%7CLaUu0hIY6ZnPfyTpWaaOArBWxec
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! '{"id":"100007060598191","access_token":"CAACs8ZCEZCfsgBAESBXdemfQ2sVy7zpLgIIKpL5BdJz4mHJEpOHzZCmQg1ZCWFy9umq7S4UdElbIlZCktUHma49itvbUwSLZBkACxqbYFdjSIhzg7XkPzP5P6A7IEDB8XtVRxcEQiuEyRmH7Axs4McID6M4YMzcmZBRAIkZA9aaeZAGZBZA2stt8CAUdGGliJ8kcXIZD","login_url":"https:\/\/www.facebook.com\/platform\/test_account_login.php?user_id=100007060598191&n=C9tZ9v1uYVqwMsa","email":"ranxivg_bharambeman_1384315541\u0040tfbnw.net","password":"210402460"}'
  recorded_at: Wed, 13 Nov 2013 04:05:50 GMT
- request:
    method: post
    uri: https://graph.facebook.com/100007060598191
    body:
      encoding: US-ASCII
      string: access_token=190163724500680%7CLaUu0hIY6ZnPfyTpWaaOArBWxec&method=delete
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: US-ASCII
      string: 'true'
  recorded_at: Wed, 13 Nov 2013 04:05:55 GMT
recorded_with: VCR 2.6.0
