---
http_interactions:
- request:
    method: post
    uri: https://graph.facebook.com/oauth/access_token
    body:
      encoding: US-ASCII
      string: client_id=190163724500680&client_secret=a68155b041911fd97471c4a178d20376&type=client_cred
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain; charset=UTF-8
    body:
      encoding: US-ASCII
      string: access_token=190163724500680|LaUu0hIY6ZnPfyTpWaaOArBWxec
  recorded_at: Wed, 30 Oct 2013 12:34:58 GMT
- request:
    method: post
    uri: https://graph.facebook.com/190163724500680/accounts/test-users
    body:
      encoding: US-ASCII
      string: installed=true&permissions&access_token=190163724500680%7CLaUu0hIY6ZnPfyTpWaaOArBWxec
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! '{"id":"100006945010212","access_token":"CAACs8ZCEZCfsgBAGxmxixjXyywxxP0ZBPN6sj8DTSedOPZBDXiqLuKy76jU1R7MQp6FDLCFdZAI4jYxI1PAqDi2ykRWij84aJXlFBfZAPekZBICVg932OhqrGgskuM4QumdCQjqZBnaXhMlBMEIZBb49XyVVg2mDonlzwzY38IAKYSE961voD6UyDhvZBzs4jMceoZD","login_url":"https:\/\/www.facebook.com\/platform\/test_account_login.php?user_id=100006945010212&n=mkH3o6WB9TYROyL","email":"gsmdpjf_riceberg_1383136496\u0040tfbnw.net","password":"56575014"}'
  recorded_at: Wed, 30 Oct 2013 12:35:08 GMT
- request:
    method: get
    uri: https://graph.facebook.com/me?access_token=CAACs8ZCEZCfsgBAGxmxixjXyywxxP0ZBPN6sj8DTSedOPZBDXiqLuKy76jU1R7MQp6FDLCFdZAI4jYxI1PAqDi2ykRWij84aJXlFBfZAPekZBICVg932OhqrGgskuM4QumdCQjqZBnaXhMlBMEIZBb49XyVVg2mDonlzwzY38IAKYSE961voD6UyDhvZBzs4jMceoZD
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Etag:
      - ! '"d69498fc9c215daa0ab8f0e077193e9a8f8bc09c"'
      Last-Modified:
      - '2013-10-30T12:35:06+0000'
    body:
      encoding: US-ASCII
      string: ! '{"id":"100006945010212","name":"Ruth Amfidejajbab Riceberg","first_name":"Ruth","middle_name":"Amfidejajbab","last_name":"Riceberg","link":"https:\/\/www.facebook.com\/profile.php?id=100006945010212","gender":"female","timezone":0,"locale":"en_US","updated_time":"2013-10-30T12:35:06+0000"}'
  recorded_at: Wed, 30 Oct 2013 12:35:08 GMT
- request:
    method: post
    uri: https://graph.facebook.com/100006945010212
    body:
      encoding: US-ASCII
      string: access_token=190163724500680%7CLaUu0hIY6ZnPfyTpWaaOArBWxec&method=delete
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: US-ASCII
      string: 'true'
  recorded_at: Wed, 30 Oct 2013 12:35:13 GMT
recorded_with: VCR 2.6.0
