---
http_interactions:
- request:
    method: post
    uri: https://graph.facebook.com/oauth/access_token
    body:
      encoding: US-ASCII
      string: client_id=190163724500680&client_secret=a68155b041911fd97471c4a178d20376&type=client_cred
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain; charset=UTF-8
    body:
      encoding: US-ASCII
      string: access_token=190163724500680|LaUu0hIY6ZnPfyTpWaaOArBWxec
  recorded_at: Sat, 26 Oct 2013 15:13:16 GMT
- request:
    method: post
    uri: https://graph.facebook.com/190163724500680/accounts/test-users
    body:
      encoding: US-ASCII
      string: installed=true&permissions&access_token=190163724500680%7CLaUu0hIY6ZnPfyTpWaaOArBWxec
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! '{"id":"100006851623228","access_token":"CAACs8ZCEZCfsgBAEBakALdgSEdiB4LQK5bvhziqFuAUKNEsfVEsQyjmkbe7t1vF17PALr7vQ4T4Y5CL2x6TYUmKQ296KrPEStnVJivxuVOSgVyniwnmtSJYf4pZBZArucpNNYiLe6Lgm5ZBfBvAgl2Jwy4kZAvZBvUfg9rjiqvrdkBkRZAxQy9IhJICyG9LgCeAZD","login_url":"https:\/\/www.facebook.com\/platform\/test_account_login.php?user_id=100006851623228&n=pRZkJZnCNPelKTf","email":"fxgcrgg_romanstein_1382800397\u0040tfbnw.net","password":"1980016996"}'
  recorded_at: Sat, 26 Oct 2013 15:13:26 GMT
- request:
    method: get
    uri: https://graph.facebook.com/me?access_token=CAACs8ZCEZCfsgBAEBakALdgSEdiB4LQK5bvhziqFuAUKNEsfVEsQyjmkbe7t1vF17PALr7vQ4T4Y5CL2x6TYUmKQ296KrPEStnVJivxuVOSgVyniwnmtSJYf4pZBZArucpNNYiLe6Lgm5ZBfBvAgl2Jwy4kZAvZBvUfg9rjiqvrdkBkRZAxQy9IhJICyG9LgCeAZD
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Etag:
      - ! '"2b6890f1ac5a51cc0daae48da4e4a3ac34582ecd"'
    body:
      encoding: US-ASCII
      string: ! '{"id":"100006851623228","name":"Bob Amfheafbcbbh Romanstein","first_name":"Bob","middle_name":"Amfheafbcbbh","last_name":"Romanstein","link":"https:\/\/www.facebook.com\/profile.php?id=100006851623228","gender":"male","timezone":0,"locale":"en_US"}'
  recorded_at: Sat, 26 Oct 2013 15:13:27 GMT
- request:
    method: post
    uri: https://graph.facebook.com/100006851623228
    body:
      encoding: US-ASCII
      string: access_token=190163724500680%7CLaUu0hIY6ZnPfyTpWaaOArBWxec&method=delete
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: US-ASCII
      string: 'true'
  recorded_at: Sat, 26 Oct 2013 15:13:31 GMT
recorded_with: VCR 2.6.0
