---
http_interactions:
- request:
    method: post
    uri: https://graph.facebook.com/oauth/access_token
    body:
      encoding: US-ASCII
      string: client_id=190163724500680&client_secret=a68155b041911fd97471c4a178d20376&grant_type=client_credentials
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain; charset=UTF-8
    body:
      encoding: UTF-8
      string: access_token=190163724500680|LaUu0hIY6ZnPfyTpWaaOArBWxec
  recorded_at: Wed, 12 Mar 2014 00:48:07 GMT
- request:
    method: post
    uri: https://graph.facebook.com/190163724500680/accounts/test-users
    body:
      encoding: UTF-8
      string: installed=true&permissions&access_token=190163724500680%7CLaUu0hIY6ZnPfyTpWaaOArBWxec
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"id":"100008007990728","access_token":"CAACs8ZCEZCfsgBAEFOI58ZA3j8NCBz6UUlmZCWrizDB2FIvT4PUMyjXF1vOyTTFZBa9nCGtr7AEykyiupa9rcxvSE3SqOv2aYrJo9YuhZAkZClDDyUE74TMdxCykAAvkUhunIRYZC15f8t2qMQyZCseZAamYQ8AlC1EIabHYt9ZAGqE2MH2RVjJaJfVZBZAIVbVCeZB10ZD","login_url":"http:\/\/developers.facebook.com\/checkpoint\/test-user-login\/100008007990728\/","email":"uslrwcz_bushakwitz_1394585288\u0040tfbnw.net","password":"159346815"}'
  recorded_at: Wed, 12 Mar 2014 00:48:08 GMT
- request:
    method: get
    uri: https://graph.facebook.com/me?access_token=CAACs8ZCEZCfsgBAEFOI58ZA3j8NCBz6UUlmZCWrizDB2FIvT4PUMyjXF1vOyTTFZBa9nCGtr7AEykyiupa9rcxvSE3SqOv2aYrJo9YuhZAkZClDDyUE74TMdxCykAAvkUhunIRYZC15f8t2qMQyZCseZAamYQ8AlC1EIabHYt9ZAGqE2MH2RVjJaJfVZBZAIVbVCeZB10ZD
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Last-Modified:
      - '2014-03-12T00:48:09+0000'
      Etag:
      - '"dce63fe5afcdeea87f309bf50be5067dd6590c38"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"id":"100008007990728","name":"Jennifer Amhkgiijgbh Bushakwitz","first_name":"Jennifer","middle_name":"Amhkgiijgbh","last_name":"Bushakwitz","link":"https:\/\/www.facebook.com\/profile.php?id=100008007990728","gender":"female","timezone":0,"locale":"en_US","updated_time":"2014-03-12T00:48:09+0000"}'
  recorded_at: Wed, 12 Mar 2014 00:48:09 GMT
- request:
    method: post
    uri: https://graph.facebook.com/100008007990728
    body:
      encoding: UTF-8
      string: access_token=190163724500680%7CLaUu0hIY6ZnPfyTpWaaOArBWxec&method=delete
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: 'true'
  recorded_at: Wed, 12 Mar 2014 00:48:10 GMT
recorded_with: VCR 2.8.0
