---
http_interactions:
- request:
    method: get
    uri: http://webservices.amazon.com/onca/xml?AWSAccessKeyId=AKIAIO4ZPZLNHU3QUX5A&AssociateTag=puhsh-20&Operation=ItemSearch&ResponseGroup=Small%2CImages%2CItemAttributes%2COfferSummary&SearchIndex=Baby&Service=AWSECommerceService&SignatureMethod=HmacSHA256&SignatureVersion=2&Sort=salesrank&Timestamp=2014-03-08T17%3A42%3A31Z&Title=Test&Version=2011-08-01&Signature=vn5ukJ2iOX1lFaKIa1birOqnLS29DTByzxkHnJlwGQ0%3D
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: UTF-8
      string: <?xml version="1.0" ?><ItemSearchResponse xmlns="http://webservices.amazon.com/AWSECommerceService/2011-08-01"><OperationRequest><HTTPHeaders><Header
        Name="UserAgent" Value="Jeff/1.0.1 (Language=Ruby; Bryan_Mikaelians_MacBook_Pro_local)"></Header></HTTPHeaders><RequestId>05fae78f-32ce-4cbb-9817-7370f850235a</RequestId><Arguments><Argument
        Name="Operation" Value="ItemSearch"></Argument><Argument Name="Service" Value="AWSECommerceService"></Argument><Argument
        Name="Signature" Value="vn5ukJ2iOX1lFaKIa1birOqnLS29DTByzxkHnJlwGQ0="></Argument><Argument
        Name="AssociateTag" Value="puhsh-20"></Argument><Argument Name="Version" Value="2011-08-01"></Argument><Argument
        Name="Sort" Value="salesrank"></Argument><Argument Name="SignatureMethod"
        Value="HmacSHA256"></Argument><Argument Name="AWSAccessKeyId" Value="AKIAIO4ZPZLNHU3QUX5A"></Argument><Argument
        Name="Timestamp" Value="2014-03-08T17:42:31Z"></Argument><Argument Name="Title"
        Value="Test"></Argument><Argument Name="ResponseGroup" Value="Small,Images,ItemAttributes,OfferSummary"></Argument><Argument
        Name="SearchIndex" Value="Baby"></Argument><Argument Name="SignatureVersion"
        Value="2"></Argument></Arguments><RequestProcessingTime>0.1241230000000000</RequestProcessingTime></OperationRequest><Items><Request><IsValid>True</IsValid><ItemSearchRequest><ResponseGroup>Small</ResponseGroup><ResponseGroup>Images</ResponseGroup><ResponseGroup>ItemAttributes</ResponseGroup><ResponseGroup>OfferSummary</ResponseGroup><SearchIndex>Baby</SearchIndex><Sort>salesrank</Sort><Title>Test</Title></ItemSearchRequest></Request><TotalResults>1115</TotalResults><TotalPages>112</TotalPages><MoreSearchResultsUrl>http://www.amazon.com/gp/redirect.html?camp=2025&amp;creative=386001&amp;location=http%3A%2F%2Fwww.amazon.com%2Fgp%2Fsearch%3Fkeywords%3DTest%26url%3Dsearch-alias%253Dbaby-products&amp;linkCode=xm2&amp;tag=puhsh-20&amp;SubscriptionId=AKIAIO4ZPZLNHU3QUX5A</MoreSearchResultsUrl><Item><ASIN>B000052XHI</ASIN><ParentASIN>B001QXTTH0</ParentASIN><DetailPageURL>http://www.amazon.com/First-Response-Result-Pregnancy-Packaging/dp/B000052XHI%3FSubscriptionId%3DAKIAIO4ZPZLNHU3QUX5A%26tag%3Dpuhsh-20%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3DB000052XHI</DetailPageURL><ItemLinks><ItemLink><Description>Technical
        Details</Description><URL>http://www.amazon.com/First-Response-Result-Pregnancy-Packaging/dp/tech-data/B000052XHI%3FSubscriptionId%3DAKIAIO4ZPZLNHU3QUX5A%26tag%3Dpuhsh-20%26linkCode%3Dxm2%26camp%3D2025%26creative%3D386001%26creativeASIN%3DB000052XHI</URL></ItemLink><ItemLink><Description>Add
        To Baby Registry</Description><URL>http://www.amazon.com/gp/registry/baby/add-item.html%3Fasin.0%3DB000052XHI%26SubscriptionId%3DAKIAIO4ZPZLNHU3QUX5A%26tag%3Dpuhsh-20%26linkCode%3Dxm2%26camp%3D2025%26creative%3D386001%26creat[...]
