- content_for :title do 
  %title The Official Styleguide for Puhsh.com - CSS

- content_for :sidebar do
  %h1 Hello


.row
  .small-12.columns
    #heading.text-center
      %h1 CSS / SCSS
      %hr

.row
  .small-12.columns
    = styleguide_block '1.1' do 
      %button(class="$modifier_class") Example Button
