#post
  .row#images(ng-controller="PostController")
    .small12.columns
      %ul.small-block-grid-1.medium-block-grid-3.image-list(ng-repeat="image in post.post_images")
        %li
          %img(ng-src="{{image.url}}")
        %li
          %img(ng-src="{{image.url}}")
        %li
          %img(ng-src="{{image.url}}")
  .row#details
    .small12.columns.text-center
      %h1 
        {{post.title}}
        %span.price-inline(ng-class="priceClass(post.item)") {{price(post.item)}}
