#post
  .row#images
    .small-12.large-12.columns
      %ul.image-list(ng-class="imageBlockGridClass(post.post_images)")
        %li(ng-repeat="image in post.post_images")
          %img(ng-src="{{image.url}}")

  .row#heading
    .small-12.columns.text-center
      %h1 
        {{post.title}}
        %span.price-inline(ng-class="priceClass(post.item)") {{price(post.item)}}

  .row#seller-info
    .small-12.medium-6.small-centered.medium-centered.columns
      .user-info.with-posted-by
        %img.avatar(ng-src="{{post.user.avatar_urls.large}}")
        %span.posted-by Posted By:
        %h3.name
          %strong {{post.user.name}}
        %h3.gold.star-count
          %strong {{post.user.star_count}}

  .row#post-details
    .small-12.medium-6.small-centered.medium-centered.columns
      %ul.no-bullet.detailed-list
        %li 
          %span.text-label
            %strong Posted:
          %span {{postedAt(post.created_at)}}
        %li 
          %span.text-label
            %strong Category:
          %span {{categorySubcategoryName(post.category_name, post.subcategory_name)}}
        %li 
          %span.text-label
            %strong Location:
          %span {{post.user.home_city.name}} ({{post.user.location_description}})
        %li 
          %span.text-label
            %strong Pick up: 
          %span {{pickUpName(post.pick_up_location)}}
        %li 
          %span.text-label
            %strong Details:
          %span {{post.description}}
