.row#app-store-info
  .small-12.columns.text-center
    %h1 You need the Puhsh App to Get This
    %a(href=ios_app_store_url target='_blank')
      = image_tag 'app-store-badge-ios.png'
    %a(href=android_app_store_url target='_blank')
      = image_tag 'app-store-badge-android.png'
