%header.row
  .small-11.medium-12.text-center.callout.small-centered.end.columns
    .app-download-info
      %p.heading 
        Install the 
        %span 
          = image_tag 'logo-2x.png', class: 'logo puhsh inline'
        App to Buy & Sell:
      %a(href=ios_app_store_url target='_blank')
        = image_tag 'app-store-badge-ios.png', class: 'app-store-badge'
      %a(href=android_app_store_url target='_blank')
        = image_tag 'app-store-badge-android.png', class: 'app-store-badge'
