%nav.default-nav(role="navigation")
  #nav-visible-content
    -# %button#toggle(type="button" data-toggle="collapse" data-target=".collapseable-menu")
    -#   %span.sr-only
    -#   %span.icon-bar
    -#   %span.icon-bar
    -#   %span.icon-bar
  #nav-menu.collapseable-menu.collapse
    %ul.navbar-right#menu-items
      %li.active
        %a(href=root_url) Menu Item - Active
      %li
        %a(href=root_url) Menu Item
      %li
        %a(href=root_url) Menu Item
      %li
        %a(href=root_url) Menu Item
