.row
  .small-12
    = image_tag 'logo-2x.png', class: 'logo'
    %a.button.facebook.with-share
      %i.fa.fa-facebook.fa-2x
      %span Share This
    %a.button.twitter
      %i.fa.fa-twitter.fa-2x
    %a.button.pinterest
      %i.fa.fa-pinterest.fa-2x
