%nav.default-nav(role="navigation")
  .content
    %button.navbar-toggle(type="button" data-toggle="collapse" data-target=".navbar-ex1-collapse")
      %span.sr-only
      %span.icon-bar
      %span.icon-bar
      %span.icon-bar
  .collapse.navbar-collapse.navbar-ex1-collapse
    %ul.nav.navbar-nav.navbar-right
      %li.active
        %a(href=root_url) Menu Item - Active
      %li(style="color: white;")
        %a(href=root_url) Menu Item
      %li
        %a(href=root_url) Menu Item
      %li
        %a(href=root_url) Menu Item
