.row.small-only-text-center.clearfix
  .small-12.medium-6.large-6.columns.medium-text-left
    = image_tag 'logo-2x.png', class: 'logo'
  .small-12.medium-6.large-6.columns.medium-text-right
    = yield :share_links
