%section.row#search-social
  %article.small-12.medium-3.columns
    - if search_url
      %form(action=search_url)
        .row
          .small-12.columns
            = text_field_tag 'query', term, type: 'search', results: 0
  %article.small-12.medium-6.text-center.columns(class="#{search_url.present? ? nil : 'medium-offset-3'}")
    - if (page_header_text && term) || use_small_heading
      %h3=page_header_text
    - else
      %h1=page_header_text
  %article.medium-3.columns
