- content_for :nav do
  = render 'shared/nav'

.row#post-images

.row#post
  .small-12.medium-12.large-12.columns.small-text-center
    %h1= @post.title
    = image_tag facebook_avatar_url(@user, :normal)
