.row
  .small-12.large-12.columns
    - if !user_signed_in?
      = link_to "Sign in with Facebook", user_omniauth_authorize_path(:facebook), class: 'btn btn-primary'
    - else
      - if current_user.has_role?(:admin)
        %a(href=admin_root_url) Admin
.row
  .small-12
    = image_tag 'logo-2x.png', class: 'logo'
    %a.button.facebook.with-share
      %i.fa.fa-facebook.fa-2x
        %span Share This
    %a.button.twitter
      %i.fa.fa-twitter.fa-2x
    %a.button.pinterest
      %i.fa.fa-pinterest.fa-2x
