.container
  .row
    .col-md-1
      %p col1
    .col-md-1
      %p col1
    .col-md-1
      %p col1
    .col-md-1
      %p col1
    .col-md-1
      %p col1
    .col-md-1
      %p col1
    .col-md-1
      %p col1
    .col-md-1
      %p col1
    .col-md-1
      %p col1
    .col-md-1
      %p col1
    .col-md-1
      %p col1
    .col-md-1
      %p col1
  .row
    .col-md-2
      %p col2
    .col-md-2
      %p col2
    .col-md-2
      %p col2
    .col-md-2
      %p col2
    .col-md-2
      %p col2
    .col-md-2
      %p col2
  .row
    .col-md-3
      %p col3
    .col-md-3
      %p col3
    .col-md-3
      %p col3
    .col-md-3
      %p col3
  .row
    .col-md-8
      %p col8
    .col-md-4
      %p col4
  .row
    .col-md-4
      %p col4
    .col-md-8
      %p col8
  .row
    .col-md-6
      %p col6
    .col-md-6
      %p col6
  .row
    .col-md-12
      %p col12
  .row
    %h1 Color Scheme
    .col-md-1.white
    .col-md-1.light-pink
      %p
    .col-md-1.pink
      %p
    .col-md-1.tiffany
      %p
    .col-md-1.black
      %p
    .col-md-1.dark
      %p
    .col-md-1.mid
      %p
    .col-md-1.light
      %p
    .col-md-1.gold
      %p
    .col-md-1.white
    .col-md-1.white

