- content_for :nav do
  = render 'shared/nav'

.row#post-images

.row#post
  .small-12.medium-12.large-12.columns
    %h1 Headline is only 50 characters OshKosh B'gosh Baby
    %h2 Collete Cheney White
    %h2.gold 50
    %p Posted By: Collete Cheney White
    %p 
      %strong Posted On
      Some Random Date
