---
http_interactions:
- request:
    method: get
    uri: http://webservices.amazon.com/onca/xml?AWSAccessKeyId=AKIAIO4ZPZLNHU3QUX5A&AssociateTag=puhsh-20&Keywords=1asafddsfasdf&Operation=ItemSearch&ResponseGroup=Small%2CImages%2CItemAttributes%2COfferSummary&SearchIndex=All&Service=AWSECommerceService&SignatureMethod=HmacSHA256&SignatureVersion=2&Sort=salesrank&Timestamp=2014-03-08T18%3A09%3A42Z&Version=2011-08-01&Signature=lTQVoahqbYh1bIrLmXUAvCpPI%2FMpuRQcpN1VMMyZmqc%3D
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: UTF-8
      string: <?xml version="1.0" ?><ItemSearchResponse xmlns="http://webservices.amazon.com/AWSECommerceService/2011-08-01"><OperationRequest><HTTPHeaders><Header
        Name="UserAgent" Value="Jeff/1.0.1 (Language=Ruby; Bryan_Mikaelians_MacBook_Pro_local)"></Header></HTTPHeaders><RequestId>9defdd66-0c2f-4187-a0a4-c888c4e7f7ba</RequestId><Arguments><Argument
        Name="Operation" Value="ItemSearch"></Argument><Argument Name="Service" Value="AWSECommerceService"></Argument><Argument
        Name="Signature" Value="lTQVoahqbYh1bIrLmXUAvCpPI/MpuRQcpN1VMMyZmqc="></Argument><Argument
        Name="AssociateTag" Value="puhsh-20"></Argument><Argument Name="Version" Value="2011-08-01"></Argument><Argument
        Name="Keywords" Value="1asafddsfasdf"></Argument><Argument Name="Sort" Value="salesrank"></Argument><Argument
        Name="SignatureMethod" Value="HmacSHA256"></Argument><Argument Name="AWSAccessKeyId"
        Value="AKIAIO4ZPZLNHU3QUX5A"></Argument><Argument Name="Timestamp" Value="2014-03-08T18:09:42Z"></Argument><Argument
        Name="ResponseGroup" Value="Small,Images,ItemAttributes,OfferSummary"></Argument><Argument
        Name="SearchIndex" Value="All"></Argument><Argument Name="SignatureVersion"
        Value="2"></Argument></Arguments><RequestProcessingTime>0.0021360000000000</RequestProcessingTime></OperationRequest><Items><Request><IsValid>False</IsValid><ItemSearchRequest><Keywords>1asafddsfasdf</Keywords><ResponseGroup>Small</ResponseGroup><ResponseGroup>Images</ResponseGroup><ResponseGroup>ItemAttributes</ResponseGroup><ResponseGroup>OfferSummary</ResponseGroup><SearchIndex>All</SearchIndex><Sort>salesrank</Sort></ItemSearchRequest><Errors><Error><Code>AWS.RestrictedParameterValueCombination</Code><Message>Your
        request contained a restricted parameter combination.  When SearchIndex equals
        All, Sort cannot be present.</Message></Error></Errors></Request></Items></ItemSearchResponse>
  recorded_at: Sat, 08 Mar 2014 18:09:42 GMT
recorded_with: VCR 2.8.0
