---
http_interactions:
- request:
    method: get
    uri: http://webservices.amazon.com/onca/xml?AWSAccessKeyId=AKIAIO4ZPZLNHU3QUX5A&AssociateTag=puhsh-20&Operation=ItemSearch&ResponseGroup=Small%2CImages%2CItemAttributes%2COfferSummary&SearchIndex=All&Service=AWSECommerceService&SignatureMethod=HmacSHA256&SignatureVersion=2&Sort=salesrank&Timestamp=2014-03-08T17%3A41%3A31Z&Title=1asafddsfasdf&Version=2011-08-01&Signature=XzgDdR835t9xvD49TBY6nx20LDgDDysUo9RROwHrLfQ%3D
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: UTF-8
      string: <?xml version="1.0" ?><ItemSearchResponse xmlns="http://webservices.amazon.com/AWSECommerceService/2011-08-01"><OperationRequest><HTTPHeaders><Header
        Name="UserAgent" Value="Jeff/1.0.1 (Language=Ruby; Bryan_Mikaelians_MacBook_Pro_local)"></Header></HTTPHeaders><RequestId>26b7133d-b575-4e81-bfb1-420172773d3a</RequestId><Arguments><Argument
        Name="Operation" Value="ItemSearch"></Argument><Argument Name="Service" Value="AWSECommerceService"></Argument><Argument
        Name="AssociateTag" Value="puhsh-20"></Argument><Argument Name="Version" Value="2011-08-01"></Argument><Argument
        Name="Sort" Value="salesrank"></Argument><Argument Name="SignatureMethod"
        Value="HmacSHA256"></Argument><Argument Name="SearchIndex" Value="All"></Argument><Argument
        Name="SignatureVersion" Value="2"></Argument><Argument Name="Signature" Value="XzgDdR835t9xvD49TBY6nx20LDgDDysUo9RROwHrLfQ="></Argument><Argument
        Name="AWSAccessKeyId" Value="AKIAIO4ZPZLNHU3QUX5A"></Argument><Argument Name="Timestamp"
        Value="2014-03-08T17:41:31Z"></Argument><Argument Name="Title" Value="1asafddsfasdf"></Argument><Argument
        Name="ResponseGroup" Value="Small,Images,ItemAttributes,OfferSummary"></Argument></Arguments><RequestProcessingTime>0.0029930000000000</RequestProcessingTime></OperationRequest><Items><Request><IsValid>False</IsValid><ItemSearchRequest><ResponseGroup>Small</ResponseGroup><ResponseGroup>Images</ResponseGroup><ResponseGroup>ItemAttributes</ResponseGroup><ResponseGroup>OfferSummary</ResponseGroup><SearchIndex>All</SearchIndex><Sort>salesrank</Sort><Title>1asafddsfasdf</Title></ItemSearchRequest><Errors><Error><Code>AWS.RestrictedParameterValueCombination</Code><Message>Your
        request contained a restricted parameter combination.  When SearchIndex equals
        All, Title cannot be present.</Message></Error><Error><Code>AWS.RestrictedParameterValueCombination</Code><Message>Your
        request contained a restricted parameter combination.  When SearchIndex equals
        All, Sort cannot be present.</Message></Error></Errors></Request></Items></ItemSearchResponse>
  recorded_at: Sat, 08 Mar 2014 17:41:31 GMT
recorded_with: VCR 2.8.0
