
@mixin lighter-text-weight { 
  font-weight: $header-font-weight;
}

@mixin bolder-text-weight {
  font-weight: bold;
}

// Provides a faded background effect.
//
// $color - The color to use for the faded background
@mixin faded-background($color) {
  background-color: rgba($color, 0.8);
}

// Provides stylings to the placeholder on inputs
//
// Uses whatever CSS content is defined.
@mixin placeholder {
  ::-webkit-input-placeholder {@content}
  :-moz-placeholder           {@content}
  ::-moz-placeholder          {@content}
  :-ms-input-placeholder      {@content}  
}
