@import 'functions';

// --
// Colors
// --
$pink: #ec008c;
$lightPink: #f9abd9;
$tiffany: #60dfe5;
$green: #00cc33;
$gold: #ffd700;
$orange: #ff9933;
$red: #cc3333;
$cyan: #00aeef;
$lightCyan: #a8e3fa;
$facebookBlue: #3f5895;
$twitterBlue: #4d97fb;
$pinterestRed: #c71b2d;

$black: #000;
$black75: color-opacity($black, 75);
$black50: color-opacity($black, 50);
$black25: color-opacity($black, 25);
$lightGray: #dedede;
$gray: #f7f7f7;
$darkGray: #ccc;
$white: #fff;

// --
// Images
// --
$logo-width: rem-calc(185);
$image-bottom-margin: rem-calc(10);
$default-avatar-height: rem-calc(100);
$default-avatar-width: rem-calc(100);

// --
// Puhsh Specific Variables
// --
$body-padding: rem-calc(10);
$user-avatar-margin: rem-calc(14);
$post-border-radius: rem-calc(6);
$post-price-label-border-radius: rem-calc(6);

$avatar-default-size: rem-calc(100);

// -- 
// Fonts
// --
