@import 'modules/functions';
@import 'modules/mixins';
@import 'modules/variables';
@import 'modules/settings';
@import 'modules/typography';

html {
  body {
    #peek-bar {
      margin-bottom: 10px;
    }
    #main {
      padding: $body-padding;
      &.dark {
        background-color: $black50;
      }
    }
  }
}
