// A simple <a.button> with various styles.
//
// .square       - A square button
// .facebook     - Facebook specific button
// .twitter      - Twitter specific button
// .pinterest    - Pinterest specific button
//
// Styleguide 4.0.0
a.button {
  @include button(rem-calc(0));
  &.square {
    vertical-align: middle;
    margin-bottom: 0;
    padding: rem-calc(3) rem-calc(4) !important;
    height: rem-calc(30);
    width: rem-calc(30);
    i {
      font-size: 24px;
    }
  }
  &.facebook {
    @include button(rem-calc(4), $facebookBlue, 5px);
  }

  &.twitter { 
    @include button(rem-calc(4), $twitterBlue, 5px);
  }

  &.pinterest {
    @include button(rem-calc(4), $pinterestRed, 5px)
  }
}
