// A container for any number <article.item> elements to show content or other items. Each container should have 
// at least one <article.item> or <article.item-sticky> which contains some data for each item in a collection
//
//
// Styleguide 2.0.0
article.item-container {
  margin: rem-calc(20) rem-calc(5);
  padding: rem-calc(5);
  position: relative;

  article.item , article.item-sticky {
    @include border-radius(rem-calc(5));
    padding: rem-calc(10);
    border: rem-calc(1) solid $darkGray;
    background-color: $white;
    min-width: rem-calc(220);
    max-width: rem-calc(220);
    margin-bottom: rem-calc(20);
  }
}
