// A container for any number <article.item> elements to show content or other items. Each container should have 
// at least one <article.item> or <article.item-sticky> which contains some data for each item in a collection.
//
//
// Styleguide 2.0.0
article.item-container {
  margin: rem-calc(20) auto;
  padding: rem-calc(5);
  position: relative;

  article.item , article.item-sticky {
    @include bordered(5);
    padding: rem-calc(10);
    background-color: $white;
    min-width: rem-calc(220);
    max-width: rem-calc(220);
    margin-bottom: rem-calc(20);
  }
}


// An content container that is designed to show a specific item. Each container can have any number of
// <article.content> elements that shows data.
//
// Styleguide 2.0.1
article.content-container, aside.content-container {
  // TODO this margin will go away once a nav bar exists
  margin-top: rem-calc(40);

  article.content {
    @include bordered(5);
    min-width: initial;
    max-width:initial;

    &.no-top-border-radius {
      border-top-left-radius: 0;
      border-top-right-radius: 0;
    }

    &.shaded {
      background-color: $lightGray;
    }
    .padded {
      padding: rem-calc(20);
    }
  }
}
