@import 'compass';

// A basic content within a heading that has a minimum height. Every <section.heading > should have 
// a <header> element contained under a <div.container>.
//
// .pink              - Pink color for the background
// .black             - Black color for background
// .global-image      - Background image of a world map
//
// Styleguide 1.1.1.
section.heading {
  min-height: rem-calc(200);
  margin-bottom: rem-calc(20);

  &.pink {
    background-color: $pink;
  }

  &.black {
    background-color: $black;
  }
  &.global-image {
    @include background(asset-url("banners/global.png"), none, none);
    background-position: center center;
    background-size: auto;
  }

  header {
    background-color: rgba(0,0,0,0);
  }
}

// A container with a background that specifically calls out content.
//
// Styleguide 1.1.2.
div.callout {
  @include faded-background($white);
  margin: rem-calc(25) rem-calc(0);
  padding: rem-calc(15);
  border-radius: rem-calc(5);
  min-height: rem-calc(150);
}

// A section that provides user information about downloading the app. Can use a <p.heading> for faux heading.
//
// Styleguide 1.1.3
div.app-download-info {
  p.heading { 
    font-size: $h3-font-size;
    font-family: $header-font-family;
    font-weight: $header-font-weight;
    margin-bottom: rem-calc(12);
  }
}
