@import 'compass';

// A basic content within a heading that has a minimum height. Every <section.heading > should have 
// a heading element contained under a <div.container>.
//
// .pink              - Pink color for the background
// .global-image      - Background image of a world map
//
// Styleguide 1.1.1.

section.heading {
  min-height: rem-calc(200);

  &.pink {
    background-color: $pink;
  }
  &.global-image {
    @include background(asset-url("global.png"));
  }
}


// A heading element that contains information about the page in a padded section
//
// Styleguide 1.1.2.
header.padded {
  padding: rem-calc(25);
  background: transparent;
  &.pink {
    background-color: $pink;
  }
}
