// A basic Puhsh logo that can have various sizes. Defaults to the original size
//
// .full      - A full style
// .medium    - A medium style
// .small     - A small style
// .inline    - A style ideal for inline usage
//
// Styleguide 7.0.0
img.logo.puhsh {
  width: auto;
  margin: 0;

  &.full {
    height: rem-calc(100);
  }

  &.medium {
  }

  &.inline {
    height: rem-calc(26);
  }
}

// A standard app store badge that can have various sizes.
//
//
// Styleguide 7.1.0
img.app-store-badge {
  height: rem-calc(80);
  margin: rem-calc(10) rem-calc(10);
}


// A user avatar with various sizes. Always assumes a square size
//
// .tiny     - small version the avatar
//
// Styleguide 7.2.0
img.avatar {
  height: $default-avatar-height;
  width: auto;

  &.tiny { 
    height: $default-avatar-height - rem-calc(60);
  }
}

// An image that shows a picture, such as a post image. Always assumes a square size.
//
// Styleguide 7.3.0
img.photo {
  width: rem-calc(220);
  height: auto;
}
