// A basic <ul.list> that can span multiple columns. Contains any number of <li.column> elements.
//
// .two        - Two column list
// .three      - Three column list
// .four       - Four column list
//
// Styleguide 5.0.0
ul.list {
  overflow: hidden;

  &.two {
    li { 
      width: 50%;
    }
  }

  &.three {
    li { 
      width: 33.333%;
    }
  }

  &.four {
    li {
      width: 25%;
    }
  }

  li.column {
    margin: rem-calc(8) 0;
    float: left;
    display: inline;
  }
}

// Stylings for a <ul.pagination> list that removes border radius from backgrounds
//
// Styleguide 5.1.0
ul.pagination.no-border-radius {
  li a {
    border-radius: 0;
  }
}

// Stylings for a <ul.pagination> list that adds fancy arrows for previous and next links
//
// Styleguide 5.2.0
ul.pagination.fancy-arrows {
  li {
    font-family: FontAwesome;
    a { 
      font-weight: lighter;
    }
    a.left-arrow[rel='prev']:before {
      content: "\f060";
      margin-right: 10px;
    }
    a.right-arrow[rel='next']:after {
      content: "\f061";
      margin-left: 10px;
    }
  }
}

// A <ul.inline-no-margin> list is a list that has no margins on the <li> elements. Useful if 
// you want pictures right next to each other.
//
// Styleguide 5.3.0
ul.inline-no-margin {
  @include block-grid($spacing: 0);
  li:first-child {
    img { float: right; }
  }

  li:last-child {
    img { float: left; }
  }
}


// A <ul.detailed-list> list can be used to show information in a description list style manner.
//
// Styleguide 5.4.0
ul.detailed-list {
  overflow: hidden;
  li {
    display: table;
    margin-bottom: rem-calc(20);
    span, p {
      vertical-align: middle;
      display: table-cell;
      &.text-label {
        float: left;
        width: rem-calc(115);
        padding-bottom: rem-calc(1000);
        margin-bottom: rem-calc(-1000);
      }
      &.with-links {
        vertical-align: inherit;
      }
    }
    a.button { 
      margin-bottom: 0;
    }
  }
}
