@import 'partials/base';
@import 'compass/css3';
@import 'compass/utilities';

#post.boxed {
  min-height: rem-calc(350);
  width: rem-calc(300);
  #header {
    @include border-top-left-radius($post-border-radius);
    @include border-top-right-radius($post-border-radius);
    background-color: $white;
    text-align: center;
    min-height: rem-calc(55);
    h2 { 
      line-height: rem-calc(55);
      margin-bottom: 0;
    }
  }
  #post-image {
    img {
      @include border-bottom-left-radius($post-border-radius);
      @include border-bottom-right-radius($post-border-radius);
    }
  }
}
