@import 'partials/base';
@import 'compass/css3';
@import 'compass/utilities';

#post.boxed {
  min-height: rem-calc(350);
  width: rem-calc(300);
  #header {
    @include border-top-left-radius($post-border-radius);
    @include border-top-right-radius($post-border-radius);
    background-color: $white;
    text-align: center;
    min-height: rem-calc(55);
    h2 { 
      line-height: rem-calc(55);
      margin-bottom: 0;
    }
  }
  #post-image {
    img {
      @include border-bottom-left-radius($post-border-radius);
      @include border-bottom-right-radius($post-border-radius);
    }
  }
}

#post {
  #images {
    margin-bottom: rem-calc(45);
    ul.image-list {
      @include block-grid($spacing: 0);
      text-align: center;
      li {
        img {
          width: rem-calc(330);
        }
      }

      &.double {
        li:first-child {
          img { float: right; }
        }
        li:last-child {
          img { float: left; }
        }
      }
    }
  }

  #heading {
    margin-bottom: rem-calc(15);
  }

  #post-details {
  }


}

#post {
  span.price-inline {
    @include border-radius($post-price-label-border-radius);
    background-color: $pink;
    color: $white;
    height: rem-calc(45);
    font-weight: bold;
    padding: 0 rem-calc(10);
    text-shadow: 0 3px 5px $black75;
  }
  span.price-inline.not-free {
    &:before {
      content: '$';
      font-size: rem-calc(20);
      vertical-align: super;
      position: relative;
      font-weight: normal;
      top: rem-calc(2);
    }
  }
}
