// A specific styling for an <article.item> tailored to a post in a grid list.
//
//
// Styleguide 2.1.0
article.item.post-grid-item {
  p {
    color: $black50;
    &.title {
      color: $black;
      font-weight: bold;
      margin: rem-calc(10);
      margin-bottom: rem-calc(10);
    }
  }
  img {
    height: rem-calc(200);
    width: auto;
  }
}


// A specific styling for an <article.content> tailored to an individual post
//
//
// Styleguide 2.1.1
article.content#post {
  ul#post-images {
    margin-bottom: rem-calc(20);
  }
  h1.title {
    margin-bottom: rem-calc(15);
    max-width: rem-calc(490);
  }

  #post-details {
    margin-top: rem-calc(20);
  }

  @media #{$small-only} { 
    h1.title { 
      max-width: rem-calc(190);
    }
  }
}
