// Applies a gold coloring to a paragraph or strong tag.
//
// .with-star    - Prepends a star icon
//
// Styleguide 9.0.0
p.gold, strong.gold {
  color: $gold;
  &.with-star:before {
    content: "\f005";
    font-family: FontAwesome;
  }
}

// TOOD Clean all this up
.white {
  color: $white;
}

p {
  &.light {
    @include lighter-text-weight;
  }

  &.large {
    font-size: rem-calc(20);
  }

  &.x-large { 
    font-size: rem-calc(26);
  }
}
