// Applies a gold coloring to a paragraph or strong tag.
//
// .with-star    - Prepends a star icon
//
// Styleguide 8.0.0
.gold {
  color: $gold;
  &.with-star:before {
    content: "\f005";
    font-family: FontAwesome;
  }
}
