// A <div> used to display user information. Contains <ul.info> with <li> elements for each peice of data.
//
// .with-avatar   - Organizes the information so it is to the right of an <img.avatar>
//
// Styleguide 2.2.0
div.user-details {
  ul.info {
    margin-bottom: 0;
    li {
      padding-bottom: rem-calc(5);
    }
  }
  &.with-avatar {
    img.avatar {
      margin-right: rem-calc(10);
      float: left;
    }
  }
}

// TODO this is all hacked together. refactor
header.user-heading {
  background: $black;
  height: rem-calc(380);
  margin-bottom: 20px;

  section.row.inner {
    position: relative;
    height: 100%;

    article.user-info {
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
      background: #f7f7f7;
      padding: 25px;
      position: absolute;
      height: rem-calc(150);
      bottom: 0;
    }
  }
}
