---
http_interactions:
- request:
    method: post
    uri: https://graph.facebook.com/oauth/access_token
    body:
      encoding: UTF-8
      string: client_id=190163724500680&client_secret=a68155b041911fd97471c4a178d20376&grant_type=client_credentials
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain; charset=UTF-8
    body:
      encoding: UTF-8
      string: access_token=190163724500680|LaUu0hIY6ZnPfyTpWaaOArBWxec
  recorded_at: Thu, 08 May 2014 18:40:02 GMT
- request:
    method: post
    uri: https://graph.facebook.com/190163724500680/accounts/test-users
    body:
      encoding: UTF-8
      string: access_token=190163724500680%7CLaUu0hIY6ZnPfyTpWaaOArBWxec&installed=true&permissions=
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"id":"100008346300945","access_token":"CAACs8ZCEZCfsgBAOZCDfgExKO4QFdb1O3dUZBRfX5CZAfZBx8SKDvq2kqyryC1wNZCVOFOckFVLFXsyZCaK7WLZA2cJfUIVG3SWZBjPr8OPww2BcFCFkjHXbzfEzLtnMLXaq28x30dcwxZAfUkMCSf8dbO7bZA6eIDZBSP5qHS6EiUDJvTuKZCt1QJafh4GOZCOMFAneOxq8X2aho8ZANwZDZD","login_url":"https:\/\/developers.facebook.com\/checkpoint\/test-user-login\/100008346300945\/","email":"hwgyhmf_valtchanovstein_1399574401\u0040tfbnw.net","password":"679875242"}'
  recorded_at: Thu, 08 May 2014 18:40:03 GMT
recorded_with: VCR 2.9.0
